body{
	background-color: #2ECCFA;
}

#banner, #preguntas, #cont-puzzel, #ctrl-botones{
	margin: 20px auto;
}
/*===============================
    Seccion de banner
  ================================*/
#banner{
	margin-top: 70px;
	position: relative;
	width: 100%;
	text-align: center;
}

#banner img{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	opacity: .2;
}

/*===============================
    Seccion de atributos de la tabla
  ================================*/
tr{
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
td{
	height: 30px;
	width: 30px;
}

.inputBox{
		width: 40px;
		height:40px;
		border: 1px solid black;
		text-align: center;
}

/*===============================
    Seccion de preguntas
  ================================*/
#preguntas{
	background: orange;
	text-align: center;
	width: 80%;
}


#horizontales{
	background: #00ffff;
	padding-top: 10px;
}

#verticales{
	background: #fff000;
	padding-top: 10px;
}

/*===============================
    Seccion de crucigrama
  ================================*/

#cont-puzzel{
	background: yellow;
	display: flex;
	justify-content: center;
}

#tabla{
	display: block;
	overflow-x: auto;
}

/*===============================
    Seccion de botones crucigrama
  ================================*/

@media screen and (max-width: 480px) {

     #banner{
        height: 92vh;
        margin-top: 55px;
    }

    #cont-puzzel, #preguntas{
		width: 90%;
	}
}